<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <input id="app">
        <h1 v-text="message"></h1>
        <h1 v-text="message">Vue_Demo</h1>
        <h2>{{message}}</h2>
        <h2>Vue_Demo</h2>
        <h1 v-html="fra">包含HTML标签的字符串渲染为页面的HTML元素</h1>
        <input type="text" :placeholder="pw"/>
        <input type="text" :placeholder="pw"/>
        <h4>count : {{count}}</h4>
        <button v-on:click="add">加1</button>
        <button v-on:click="reset">重置</button>
        <hr/>
        <label for="username">名称: {{username}}</label>
        <input id="username" type="text" v-model="username"></input>
        <label for="sex">性别</label>
        <select name="" id="sex" v-model="sex">
            <option value="">请选择</option>
            <option value="1">男</option>
            <option value="2">女</option>
        </select>

    </div>
    <script>
        const vm = new Vue ({
            el: '#app',
            data:{
                message: 'Hello Wolrd!',
                fra: '<p style="color:blue">V-html渲染</p>',
                pw:'请输入密码',
                count: 0,
                username: 'cubc',
                sex: '1',
            },
            methods: {
                add(){
                    this.count ++;
                },
                reset(){
                    this.count = 0;
                }
            }
        })
    </script>

    
</body>
</html>