*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
}
.header {
    height: 80px;
    line-height: 80px;
    background: white;
    text-align: center;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}
.nav {
    height: 44px;
    background-color: orange;
    padding: 0;
    list-style-type: none;
}
.nav li {
    height: 44px;
    float: left;
}
.nav li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    line-height: 44px;
    margin: 0 18px;
}
.nav li a:hover {
    color: #14539A;
    background-color: #cbe1ed;
}
.left-area {
    min-height: 750px;
    float: left;
    width: 70%;
    margin-left: 16px;
}
.right-area {
    float: left;
    width: 25%;
    margin-left:24px;
}
.poem-box {
    background-color: #E9EBEC;
    padding: 10px;
    margin: 24px 0px;
}
.author-box {
    background-color: #E9EBEC;
    padding: 8px;
    margin: 24px 0px;
}
.author-box p {
    padding: 16px 0px;
}
.footer {
    clear: both;
    background: #5576BD;
    height: 48px;
    line-height: 48px;
    text-align: center;
    
}